<!DOCTYPE html>
<html lang="en" style="background-color: white" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>欢迎登陆</h1>
    <input id='file' name="file" type='file' value="" OnChange='javascript:upload();' title="场景包为模模搭官网下载的zip格式的压缩包" style="width: 230px;height: 53px;cursor: pointer; font-size: 1px;"/>
</body>


<script>
    var path = "http://localhost:8081";

    function upload() {
        P2.controller.uploadScene(function(back) {
            console.log(back.content)
        });
    }
</script>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/upload/ajaxfileupload.js}"></script>
<script type="text/javascript" th:src="@{/static/js/upload/admin.js}"></script>
</html>