<div class="modal-dialog" style="width: 300px" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content" style="width: 400px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">修改管理员信息</h4>
        </div>
        <div class="modal-body" style="width: 250px">
            <div style="width: 200px">请输入管理员姓名<input type="text" id="adminName" th:value="${adminInfo.adminName}"></div>
            <div style="width: 200px">请输入联系电话<input type="text" id="telephone" th:value="${adminInfo.telephone}"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${adminInfo.id}" type="button" class="btn btn-primary" onclick="updateAdmin(this.id)" >确定</button>
        </div>
    </div>
</div>

<script>

    function updateAdmin(id) {

        var telephone = $("#telephone").val();
        var adminName = $("#adminName").val();


        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/sys/updateAdmin",
            data:{'userId':id,"telephone":telephone,"adminName":adminName},
            type:"POST",
            dataType:"json",
            success:function (data) {

                if(data.code===0){
                    swal({
                        title: data.msg,
                        type: "error"
                    });
                }else {
                    swal({
                        title: data.data,
                        type: "success"
                    },function(){
                        $('#addAdminModal').modal('hide');
                        window.location.reload();
                    });
                }
            }
        })
    }
</script>