<div class="modal-dialog" style="width: 300px" xmlns:th="http://www.thymeleaf.org" >
    <div class="modal-content" style="width: 400px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">修改数据</h4>
        </div>
        <div class="modal-body" style="width: 250px">
            <div style="width: 200px">请输入名称：<input th:value="${dataName}" type="text" id="dataName"/></div>
            <div style="width: 200px">请选择需要设置的资产名称
                <select class="form-control" id="uid">
                    <option th:if="${itemName}!=''" th:value="${uid}" th:text="${itemName}+'('+${uid}+')'" selected="selected"></option>
                    <option th:if="${itemName}==''" selected="selected">请选择uid</option>
                    <option th:each="item:${itemList}" th:if="${itemName}!=${item.itemName}" th:value="${item.uid}" th:text="${item.itemName}+'('+${item.uid}+')'"></option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${id}" type="button" class="btn btn-primary" onclick="updateSource(this.id)" >确定</button>
        </div>
    </div>
</div>

<script>
    function updateSource(id) {

        var dataName = $("#dataName").val();

        var obj = document.getElementById('uid');
        var index = obj.selectedIndex;
        var uid = obj.options[index].value;

        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/dataSource/"+id,
            data:{"dataName":dataName,"uid":uid},
            type:"POST",
            dataType:"json",
            success:function (data) {
                if(data.code!==10004){
                    swal({
                        title: data.msg,
                        type: "error"
                    });
                }else {
                    swal({
                        title: data.msg,
                        type: "success"
                    },function(){
                        $('#updateSourceModal').modal('hide');
                        $("#table").bootstrapTable('refresh', {
                            url:"/dataSource/list"

                        });
                    });
                }
            }
        })
    }
</script>
