<style>
    li{
        font-size: 16px;
        border-bottom: 1px black solid;
        height: 27px;
        padding: 4px;
    }
</style>

<div class="modal-dialog" style="width: 300px" xmlns:th="http://www.thymeleaf.org" >
    <div class="modal-content" style="width: 400px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">数据源</h4>
        </div>
        <div class="modal-body" style="width: 400px">
            <div style="width: 200px;float: right">
                <span style="font-size: 17px">已添加数据源pid</span>
                <ul class="list-group" style="height: 160px;max-height: 160px;overflow-y: scroll;border: 1px black solid" id="select">
                    <li th:each="itemDataInfo:${itemDataInfoList}">
                        <span th:text="${itemDataInfo.pid}" class="text"></span>
                        <a href='javascript:void(0);' onclick='$(this).parent().remove()'>
                            <span class='glyphicon glyphicon-remove' style='float: right'></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="width: 200px;height: 200px;font-size: 17px">请输入数据源pid
                <input type="text" style="width: 150px" id="newPid"/><input type="button" onclick="add()" class="btn btn-sm btn-success" value="添加" style="position: absolute;left: 70px;top: 70px" id="add"/>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${id}" type="button" class="btn btn-primary" onclick="updateDataSource(this.id)" >确定</button>
        </div>
    </div>
</div>

<script>

    function add(){
        var newPid = $("#newPid").val();
        var flag=false;
        if(!checkNum(newPid)){
            return;
        }

        $("#select").find(".text").each(function () {
            if($(this).text()===newPid){
                swal({
                    title: "该Pid已存在",
                    type: "error"
                });
                flag =true;
            }
        });

        if(!flag){
            $("#select").append("<li><span class='text'>"+newPid+"</span><a href='javascript:void(0);' onclick='$(this).parent().remove()'><span class='glyphicon glyphicon-remove' style='float: right'></span></a></li>");
        }
    }

    function checkNum(input){

        var reg=/^[1-9]+[0-9]*]*$/;

        if(!reg.test(input)){

            swal({
                title: "请输入正确的PID",
                type: "error"
            });
            return false
        }
        return true;
    }

    function updateDataSource(id) {


        var dataSourceList = [];
        $("#select").find(".text").each(function () {
            dataSourceList.push($(this).text())
        });

        if(dataSourceList.length===0){
            dataSourceList.push("0")
        }

        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/item/addDataSource",
            data:{'itemId':id,"dataSourceList":dataSourceList},
            type:"POST",
            dataType:"json",
            success:function (data) {

                if(data.code===0){
                    swal({
                        title: data.msg,
                        type: "error"
                    });
                }else if(data.code===1){
                    swal({
                        title: data.data,
                        type: "info"
                    },function(){
                        $('#checkDataSourceModal').modal('hide');
                        $("#table").bootstrapTable('refresh', {
                            url:"/item/itemInfoList"

                        });
                    });
                }else {
                    swal({
                        title: data.data,
                        type: "success"
                    },function(){
                        $('#checkDataSourceModal').modal('hide');
                        $("#table").bootstrapTable('refresh', {
                            url:"/item/itemInfoList"

                        });
                    });
                }
            }
        })
    }
</script></div>