<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">删除物体</h4>
        </div>
        <div class="modal-body">确定要删除该物体吗？</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${id}" type="button" class="btn btn-primary" onclick="itemDelete(this.id)" >确定</button>
        </div>
    </div>
</div>
</html>

<script>
    function itemDelete(id) {
            $.ajax({
                // contentType: 'application/json;charset=UTF-8',
                url: "/item/deleteItem",
                data: {'id': id},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    swal({
                        title: data.data,
                        type: "success"
                    },function(){
                        $('#deleteItemModal').modal('hide');
                        $("#table").bootstrapTable('refresh', {
                            url:"/item/itemInfoList"

                        });
                        //window.location.reload();
                    });
                }
            });
    }
</script>
