<div class="modal-dialog" style="width: 300px" xmlns:th="http://www.thymeleaf.org" >
    <div class="modal-content" style="width: 400px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">管理的站点</h4>
        </div>
        <div class="modal-body" style="width: 250px">
            <div style="width: 200px">请输入物体名称<input type="text" id="uitemName" th:value="${itemInfo.itemName}"/></div>
            <div style="width: 200px">请输入物体UID  <input type="text" id="uuid" th:value="${itemInfo.uid}"/></div>
            <div style="width: 200px">监控点编号<input type="text" id="utext" th:value="${itemInfo.text}"/></div>
            <div style="width: 200px">请选择所属场景
                <select class="form-control" id="uscene">
                    <option th:text="${itemInfo.sceneName}" selected="selected"></option>
                    <option th:each="sceneInfo:${sceneInfoList}" th:if="${sceneInfo.sceneName}!=${itemInfo.sceneName}" th:text="${sceneInfo.sceneName}"></option>
                </select>
            </div>
            <div>请选择物体类型
                <select class="form-control" id="utype">
                    <option th:text="${itemInfo.itemType}" selected="selected">请选择物体类型</option>
                    <option th:if="${itemInfo.itemType}!='办公大楼'">办公大楼</option>
                    <option th:if="${itemInfo.itemType}!='摄像头'">摄像头</option>
                    <option th:if="${itemInfo.itemType}!='流量计'">流量计</option>
                    <option th:if="${itemInfo.itemType}!='压力变送器'">压力变送器</option>
                    <option th:if="${itemInfo.itemType}!='其他'">其他</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${itemInfo.id}" type="button" class="btn btn-primary" onclick="updateItem(this.id)" >确定</button>
        </div>
    </div>
</div>

<script>
    function updateItem(id) {

        var itemName = $("#uitemName").val();
        var uid = $("#uuid").val();
        var text = $("#utext").val();

        var sobj = document.getElementById('uscene');
        var sindex = sobj.selectedIndex;
        var scene = sobj.options[sindex].text;

        var tobj = document.getElementById('utype');
        var tindex = tobj.selectedIndex;
        var type = tobj.options[tindex].text;

        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/item/updateItem",
            data:{'id':id,"itemName":itemName,"sceneName":scene,"uid":uid,"text":text,"itemType":type},
            type:"POST",
            dataType:"json",
            success:function (data) {
                if(data.code===0){
                    swal({
                        title: data.msg,
                        type: "error"
                    });
                }else {
                    swal({
                        title: data.data,
                        type: "success"
                    },function(){
                        $('#updateItemModal').modal('hide');
                        $("#table").bootstrapTable('refresh', {
                            url:"/item/itemInfoList"

                        });
                        //window.location.reload();
                    });
                }
            }
        })
    }
</script>
