<div class="modal-dialog" style="width: 300px" xmlns:th="http://www.thymeleaf.org" >
    <div class="modal-content" style="width: 400px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">选择UID</h4>
        </div>
        <div class="modal-body" style="width: 250px">
            <div style="width: 200px">请选择需要设置的UID
                <select class="form-control" id="uid">
                    <option th:if="${uid}!=''" th:text="${uid}" selected="selected"></option>
                    <option th:if="${uid}==''" selected="selected">请选择uid</option>
                    <option th:each="item:${itemList}" th:if="${uid}!=${item.uid}" th:text="${item.uid}"></option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${id}" type="button" class="btn btn-primary" onclick="updateAssets(this.id)" >确定</button>
<!--            <button th:id="${id}" type="button" class="btn btn-primary" onclick="test()" >确定</button>-->
        </div>
    </div>
</div>

<script>
    function updateAssets(id) {

        var obj = document.getElementById('uid');
        var index = obj.selectedIndex;
        var uid = obj.options[index].text;

        // var itemName = $("#uitemName").val();
        // var uid = $("#uuid").val();
        // var text = $("#utext").val();
        //
        // var sobj = document.getElementById('uscene');
        // var sindex = sobj.selectedIndex;
        // var scene = sobj.options[sindex].text;
        //
        // var tobj = document.getElementById('utype');
        // var tindex = tobj.selectedIndex;
        // var type = tobj.options[tindex].text;
        //
        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/assets/"+id,
            data:{"uid":uid},
            type:"POST",
            dataType:"json",
            success:function (data) {
                if(data.code!==10000){
                    swal({
                        title: data.msg,
                        type: "error"
                    });
                }else {
                    swal({
                        title: data.data,
                        type: "success"
                    },function(){
                        $('#updateAssetsModal').modal('hide');
                        $("#table").bootstrapTable('refresh', {
                            url:"/assets/assetsInfoList"

                        });
                        //window.location.reload();
                    });
                }
            }
        })
    }
    function test() {
        var data = {"checkMember":"张八",
            "checkTime":"2020-10-10 15:21:00",
            "checkItemId":1,
            "status":1,
            "checkLog":"1",
            "checkItemSid":200};
        $.ajax({
            contentType: 'application/json;charset=UTF-8',
            url:"/api/checkedDate",
            data:JSON.stringify(data),
            type:"POST",
            dataType:"json",
            success:function (data) {
                if(data.code!==10000){
                    swal({
                        title: data.msg,
                        type: "error"
                    });
                }else {
                    swal({
                        title: data.data,
                        type: "success"
                    },function(){
                        $('#updateAssetsModal').modal('hide');
                        $("#table").bootstrapTable('refresh', {
                            url:"/assets/assetsInfoList"

                        });
                        //window.location.reload();
                    });
                }
            }
        })
    }
</script>
