<div class="modal-dialog" style="width: 300px" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content" style="width: 400px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">管理的站点</h4>
        </div>
        <div class="modal-body" style="width: 250px">
            <div style="width: 200px">请输入场景ID:<input type="text" id="sceneId" th:value="${sceneInfo.sceneId}"/></div>
            <div style="width: 200px">请输入场景名称  <input type="text" id="sceneName" th:value="${sceneInfo.sceneName}"/></div>
            <div style="width: 200px">SCADA场站ID：<input type="text" id="scadaId" th:value="${sceneInfo.scadaSid}"/></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${sceneInfo.id}" type="button" class="btn btn-primary" onclick="updateScene(this.id)" >确定</button>
        </div>
    </div>
</div>

<script>

    function updateScene(id) {

        var sceneId = $("#sceneId").val();
        var sceneName = $("#sceneName").val();
        var scadaId = $("#scadaId").val();

        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/scene/updateScene",
            data:{'id':id,"sceneId":sceneId,"sceneName":sceneName,"scadaSid":scadaId},
            type:"POST",
            dataType:"json",
            success:function (data) {

                if(data.code===0){
                    swal({
                        title: data.msg,
                        type: "error"
                    });
                }else {
                    swal({
                        title: data.data,
                        type: "success"
                    },function(){
                        $('#addAdminModal').modal('hide');
                        window.location.reload();
                    });
                }
            }
        })
    }
</script>
