<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wis.mapper.CheckMapper">

    <select id="findAll" resultMap="checkedResultMap">
        SELECT * FROM wis_item_checked WHERE 1 = 1
<!--        <if test="assetsName!=null and assetsName !=''">-->
<!--            AND assets_name LIKE CONCAT('%',#{assetsName},'%')-->
<!--        </if>-->
<!--        <if test="assetsSid!=null and assetsSid !=''">-->
<!--            and assets_sid = #{assetsSid}-->
<!--        </if>-->
<!--        <if test="aid!=null and aid !=''">-->
<!--            and assets_aid = #{aid}-->
<!--        </if>-->
<!--        LIMIT #{offset},#{limit}-->
    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        SELECT count(1) FROM wis_item_assets WHERE 1 = 1
<!--        <if test="assetsName!=null and assetsName !=''">-->
<!--            AND assets_name LIKE CONCAT('%',#{assetsName},'%')-->
<!--        </if>-->
<!--        <if test="assetsSid!=null and assetsSid !=''">-->
<!--            and assets_sid = #{assetsSid}-->
<!--        </if>-->
<!--        <if test="aid!=null and aid !=''">-->
<!--            and assets_aid = #{aid}-->
<!--        </if>-->
    </select>

    <resultMap id="checkedResultMap" type="com.wis.pojo.po.CheckedData">
        <id column="id" property="id"/>
        <result property="checkMember" column="check_member"/>
        <result property="checkLog" column="check_log"/>
        <result property="checkTime" column="check_time"/>
        <result property="itemAid" column="check_item_aid"/>
        <result property="status" column="item_status"/>
        <result property="sid" column="check_item_sid"/>

    </resultMap>

</mapper>