<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wis.mapper.CheckMapper">

    <select id="findAll" resultMap="checkedResultMap">
        SELECT * FROM wis_item_checked
    </select>

    <select id="findFilterList" resultMap="checkedResultMap">
        select wic.* from wis_item_checked wic left join wis_item_assets wia on wia.assets_aid = wic.check_item_aid left join wis_scene ws on wic.check_item_sid = ws.scada_sid where 1=1
                <if test="checkMember!=null and checkMember !=''">
                    AND wic.check_member LIKE CONCAT('%',#{checkMember},'%')
                </if>
                <if test="assetsName!=null and assetsName !=''">
                    and wia.assets_name LIKE CONCAT('%',#{assetsName},'%')
                </if>
                <if test="scadaSid!=0">
                    and wic.check_item_sid = #{scadaSid}
                </if>
                <if test="status!=0">
                    and wic.item_status = #{status}
                </if>
                <if test="startTime!=null and startTime !=''">
                    and wic.check_time &gt; #{startTime}
                </if>
                <if test="endTime!=null and endTime !=''">
                    and wic.check_time &lt; #{endTime}
                </if>
                limit #{offset},#{limit}
    </select>

    <select id="getDataTotal" resultType="java.lang.Integer">
        select count(1) from wis_item_checked wic left join wis_item_assets wia on wia.assets_aid = wic.check_item_aid left join wis_scene ws on wic.check_item_sid = ws.scada_sid where 1=1
        <if test="checkMember!=null and checkMember !=''">
            AND wic.check_member LIKE CONCAT('%',#{checkMember},'%')
        </if>
        <if test="assetsName!=null and assetsName !=''">
            and wia.assets_name LIKE CONCAT('%',#{assetsName},'%')
        </if>
        <if test="scadaSid!=0">
            and wic.check_item_sid = #{scadaSid}
        </if>
        <if test="status!=0">
            and wic.item_status = #{status}
        </if>
        <if test="startTime!=null and startTime !=''">
            and wic.check_time &gt; #{startTime}
        </if>
        <if test="endTime!=null and endTime !=''">
            and wic.check_time &lt; #{endTime}
        </if>
    </select>

    <resultMap id="checkedResultMap" type="com.wis.pojo.po.CheckedData">
        <id column="id" property="id"/>
        <result property="checkMember" column="check_member"/>
        <result property="checkLog" column="check_log"/>
        <result property="checkTime" column="check_time"/>
        <result property="itemAid" column="check_item_aid"/>
        <result property="status" column="item_status"/>
        <result property="sid" column="check_item_sid"/>

    </resultMap>

</mapper>